<div class="OFICIO">
  
  <div class="Encab1">
    <div class="Col1">
        <img src="../../assets/usaclogo.png" ALIGN=left  width="50" height="50" >
        Universidad de San Carlos de Guatemala      
        <br> Plan de Prestaciones
    </div>
    <div class="Col2">
        FORM. PP 05-10
        <br/> Préstamo No.
    </div>
  </div>

  <div class="Encab2">
    ANÁLISIS DE CAPACIDAD DE PAGO Y AUTORIZACIÓN DE SOLICITUD DE 
    <br>PRÉSTAMO INMEDIATO
  </div>

  <div  class="Encab3">
    Nombre del Deudor:
    <br> Registro de Personal No.:
    <br> Afiliado al Plan de Prestaciones
    <br> Dependencia:
    <div class="E3"> 
      <div class="CE1">
          No.:
      </div>  
      <div class="CE1">
          Partida:
      </div>  
      </div>
  </div>
  <br>
  <!--Tabla1-->
  <div class="Tabla">
    <div class="Titulos">
      <div class="borde">Duedor</div>
      <div class="borde">D</div>
      <div class="borde"></div>
      <div class="borde">D</div>
    </div>
    <div class="Detalles">
      <div class="Filas">
        <!--Fila1-->
        <div class="borde2">Fotocopia de Documento Personal de Identificación</div>
        <div class="borde2"><input type="checkbox"></div>
        <div class="borde2">Solvencia o certificacion de saldo de préstamo</div>
        <div class="borde2"><input type="checkbox"></div>
        <!--Fila2-->
        <div class="borde2">Fotocopia del voucher o plantilla de ultimo sueldo recibido certificado
                            <br>por tesorería de la Unidad donde labora</div>
        <div class="borde2"><input type="checkbox"></div>
        <div class="borde2">Certificación de jubilacion o copia del voucher de <br>pensión</div>
        <div class="borde2"><input type="checkbox"></div>
        <!--Fila2-->
        <div class="borde2">Fotocopia de recibo de servicio (agua, luz o teléfono)</div>
        <div class="borde2"><input type="checkbox"></div>
        <div class="borde2">Otros</div>
        <div class="borde2"><input type="checkbox"></div>
        <!--Fila3-->
        <div class="borde2">Consentimiento para ser asegurado</div>
        <div class="borde2"><input type="checkbox"></div>
        <div class="borde2"></div>
        <div class="borde2"></div>
        <!--Fila4-->
        <div class="borde2">Constancia de recontratación</div>
        <div class="borde2"><input type="checkbox"></div>
        <div class="borde2"></div>
        <div class="borde2"></div>
        <!--Fila5-->
        <div class="borde2">Carta de consentimiento para el descuento</div>
        <div class="borde2"><input type="checkbox"></div>
        <div class="borde2"></div>
        <div class="borde2"></div>
      </div>
    </div>
  </div> 
  <br>
  <!--Tabla2-->
  <div class="Tabla">

    <div class="Titulos2">
      <div class="borde">II. Capacidad de Pago del Deudor</div>
      <div class="borde2">Duedor</div>
 
      <div class="Master">
       <!--Fila1-->
       <div class="borde2"></div>
       <div class="borde2">Nominal</div>
       <div class="borde2">Q0.00</div>
       <!--Fila2-->
       <div class="borde2"></div>
       <div class="borde2">Líquido</div>
       <div class="borde2">Q0.00</div>
       <!--Fila3-->
       <div class="borde2">(-)</div>
       <div class="borde2">Bonificación</div>
       <div class="borde2">Q0.00</div>
       <!--Fila4-->
       <div class="borde2"></div>
       <div class="borde2">Sub Total</div>
       <div class="borde2">Q0.00</div>
       <!--Fila5-->
       <div class="borde2">(+)</div>
       <div class="borde2">Préstamo anterior</div>
       <div class="borde2">Q0.00</div>
       <!--Fila6-->
       <div class="borde2">(-)</div>
       <div class="borde2">Seguro de crédito</div>
       <div class="borde2">Q0.00</div>
       <!--Fila7-->
       <div class="borde2"></div>
       <div class="borde2">Sub Total</div>
       <div class="borde2">Q0.00</div>
       <!--Fila8-->
       <div class="borde2">(-)</div>
       <div class="borde2">Préstamo nuevo</div>
       <div class="borde2">Q0.00</div>
       <!--Fila9-->
       <div class="borde2">(-)</div>
       <div class="borde2">Seguro de crédito</div>
       <div class="borde2">Q0.00</div>
       <!--Fila10-->
       <div class="borde2"></div>
       <div class="borde2">Nuevo sueldo líquido</div>
       <div class="borde2">Q0.00</div>
       <!--Fila11-->
       <div class="borde2"></div>
       <div class="borde2">Porcentaje</div>
       <div class="borde2">%</div>

            
      </div>
    
    </div>
 
  </div>
  <br>
  <!--Tabla3-->
  <div class="Tabla">

    <div class="Titulos2">
      <div class="borde">III. Antecedentes de Crédito como Deudores Encargado de Cuenta Corriente Certificada:</div>
      <div class="borde3">Préstamo anterior con el plan <input type="checkbox"></div>
      
      <div class="SubEncab"> 
        <div class="Col1"> 
              Porcentaje pagado préstamo anterior:</div>            
           <div class="Col2">
             Fecha del Préstamo:
          </div>
        </div>

        <div class="SubEncab2"> 
            <div class="Col1"> 
                Monto Q:</div>            
             <div class="Col2">
               Saldo Pendiente Q:
            </div>          
            <div class="Col3">
              Contrato
           </div>
          </div>

          <div class="SubEncab"> 
              <div class="Col1"> 
                   No.:</div>            
                 <div class="Col2">
                   al
                </div>
              </div>
      
       <div class="borde4">Firma y Sello__________________</div>   
    </div>
    
 
  </div>
  <br>
  <!--Tabla4-->
  <div class="Tabla">

      <div class="Titulos2">
        <div class="borde">IV. Análisis y procedencia del crédito</div>
        <div class="borde2">El Préstamo cumple los requisitos establecidos con los reglamento y disposiciones administratica del Plan de Prestaciones conforme a lo
          <br>establecido en la litarl i) del Artículo 35 del reglamento de Plan de Prestaciones
        </div>
   
        <div class="Master2">
         <!--Fila1-->
         <div class="borde4">Sueldo o Jubilacion mensual</div>
         <div class="borde4">Q. 0</div>
         <!--Fila2-->
         <div class="borde4">Monto de Préstamo solicitado (máximo Q.10,000.00)</div>
         <div class="borde4">Q. 0</div>
        </div>
      
      </div>
   
    </div>
    <br>
 <!--Tabla5-->
 <div class="Tabla">

    <div class="Titulos2">
      <div class="borde">V. Autorización de Préstamo</div>
      <div class="borde4">De acuerdo con lo anterior y siendo el solicitante apto para contratar con base en los documentos y cálulos y efectuados, informo, que
        <br>procede autorizar el préstamo solicitado por la suma de Q. 0, a un plazo de 0 meses (máximo de 24 meses), al 0% de interés.
        <br>
        <br>
        Guatemala, Thu Feb 07 2019
      </div>
      <div class="borde4">Observación:</div>

      <div class="Master3">
       <!--Fila1-->   
       <div class="borde2">Elaboró
         <br>
         <br>
         <br>
         <br>Ofícinista de Créditos
       </div>
       <div class="borde2">Revisó
         <br>
         <br>
         <br>
         <br>Coordinadora de Prestaciones y Préstaciones y Préstamos
       </div>
       <div class="borde2">Autorizó       
        <br>
        <br>
        <br>
        <br>Administradora Ejecutiva
       </div>
      </div>
    
    </div>
 
  </div>

</div>