.OFICIO{
    width: 21.6cm;
    height: 27.9cm;
    margin: 3cm 0cm 1cm 1cm; 
}
.encab1{
    display: grid;
    grid-template-columns: 21cm 5cm;
}

.encab2{
    
    width: 28cm;
    text-align: center;
    font:  bold 16px/14px Arial, serif;
    margin-bottom: 1.5cm;
    margin-top: 2cm;
}


.encab3{
    width: 32cm;
    text-align: left;
    font:  bold 16px/14px Arial, serif;
    margin-bottom: 0.5cm;
    margin-top: 0.5m;   
}

.texto{
    width: 32cm;
    text-align: left;
    font:   16px/14px Arial;
    margin-bottom: 0.5cm;
    
       
    LINE-HEIGHT:60px;
}

.texto2{
    width: 32cm;
    text-align: left;
    font:   16px/14px Arial;
    margin-bottom: 0.5cm;
       
    LINE-HEIGHT:20px;
}


.contenedor{

    display: grid;
    grid-template-columns: 1.5cm 20cm;
    font:  bold 15px/17px serif;
    
    text-align: left;
}

.contenedor2{

    display: grid;
    grid-template-columns: 15cm 8cm;
    font:  bold 15px/17px serif;
     text-align: left;
}

.contenedor3{

    display: grid;
    grid-template-columns: 1.5cm 9cm 7cm 6cm;
    font:  bold 15px/17px serif;
     text-align: left;
}
.contenedorFirma{

    display: grid;
    grid-template-columns: 5cm 10cm;
    font:  bold 15px/17px serif;
     text-align: left;
}