<div class="OFICIO">
  <div class="encab1">
    <div class="D11">
      UNIVERSIDAD DE SAN CARLOS DE GUATEMALA
      <br>PLAN DE PRESTACIONES
    </div>
    <div class="D12">
      PÁGINA: 1
      <br>FORMA: PP-05-11
    </div>
  </div>
  <div class="encab2">
    PLANILLA DE TRAMITE No. ***7***
    <br>CHEQUES PARA REVISIÓN:
    <br>GUATEMALA, 19 DE FEBRERO DE 2019
  </div>
  <div class="encab3">
    "PRESTAMOS INMEDIATOS"
  </div>
  <div class="cuerpo">
    <div class="titulos">
      <div class="no bordT">No.</div>
      <div class="registro bordT">REGISTRO No.</div>
      <div class="solicitud bordT">SOLICITUD No.</div>
      <div class="nombre bordT">NOMBRE DEL SOLICITANTE</div>
      <div class="contrato bordT">CONTRATO No.</div>
      <div class="cheque bordT">CHEQUE No.</div>
      <div class="dependencia bordT">DEPENDENCIA O FACULTAD</div>
      <div class="liquido bordT">LIQUIDO</div>
      <div class="Master">
        <div class="subT bordT">
          JAPP
        </div>
        <div class="firmaT bordT">
          FIRMA
        </div>
        <div class="fecha bordT">
          FECHA
        </div>
      </div>
      <div class="Master">
        <div class="subT bordT">
          PAGADOR
        </div>
        <div class="recibido bordT">
          RECIBIDO
        </div>
        <div class="fecha bordT">
          FECHA
        </div>
      </div>
      <div class="Master">
        <div class="subT bordT">
          ARCHIVO
        </div>
        <div class="recibido bordT">
          RECIBIDO
        </div>
        <div class="fecha bordT">
          FECHA
        </div>
      </div>
    </div>
    <div class="detalle" >
      <div class="filaD" *ngFor = "let n of hola; let i=index" >
        <div class="nof bordTF">{{i+1}}</div>
        <div class="registrof bordTF"> 25487</div>
        <div class="solicitudf bordTF">25</div>
        <div class="nombref bordTF">Credito</div>
        <div class="contratof bordTF">001</div>
        <div class="chequef bordTF">25764</div>
        <div class="dependenciaf bordTF">Plan Prestaciones</div>
        <div class="liquidof bordTF">Q 10,251.00</div>
        <div class="firmaTf bordTF"></div>
        <div class="fechaf bordTF"></div>
        <div class="recibidof bordTF"></div>
        <div class="fechaf bordTF"></div>
        <div class="recibidof bordTF"></div>
        <div class="fechaf bordTF"></div>
      </div>
      
    </div>

  </div>
  <div class="firma">
    _______________________________
    <br>Firma y Sello
  </div>
</div>