<div class="OFICIO">
  <div class="encab1">
  <div class="C1">
      
          <img src="../../assets/usaclogo.png" ALIGN=left  width="50" height="50">

          UNIVERSIDAD DE SAN CARLOS DE GUATEMALA 
         <br>PLAN DE PRESTACIONES
  </div>
      <div class="C2">
              Form.: PP-5-09
      </div>
  </div>
  <div class="encab2">
    Carta de contratación
</div>

<div class="contenedor">
  <div></div>
  <div class="encab3">
    Guatemala:_________________________________________________
    </div>
</div>

<div class="contenedor">
    <div></div>
    <div class="texto2">
        Señores
        <br>Plan de Prestaciones:
      </div>
  </div>

  <div class="contenedor">
      <div></div>
      <div class="texto">
          Atentamente hago de su conocimiento, que el se señor (a) trabajador (a):
          <br>____________________________________________________________________________________________________
          <br>Registro de Personal No.:_______________________________________________________, labora para esta dependencia:
          <br>____________________________________________________________________________________________________
          <br>Ocupando el Puesto de:_________________________________________________________________________________
          <br>Siendo su contratación en forma:__________________________________________________________________________
          <div class="contenedor2">
              <div></div>
              <div class="texto2">
                 (Anual, bimestral,trimestral,semestre,etc)
                </div>
            </div>
        </div>
    </div>

    
<div class="contenedor">
          <div></div>
          <div class="texto2">
             y que las condiciones de la contratación son normales y si no ocurren imponderables o situaciones imprevistas,
             a futuo se 
             <br>le podrá seguir contratando.
            </div>
        </div>  
 
        <div class="contenedor">
            <div></div>
            <div class="texto">
               Me suscribo, deferentemente,
              </div>
          </div>  
          <div class="contenedor3">
            <div></div>
              <div class="texto">
                _________________________________________________
                <div class="contenedorFirma">
                  <div></div>
                  <div class="texto2">
                    Nombre
                  </div>
                </div>
              </div>
              <div></div>
              <div class="texto">
                (F)_____________________________
                </div>
            </div> 
            <div class="contenedor">
              <div></div>
              <div class="texto">
                _________________________________________________
                <div class="contenedorFirma">
                    <div></div>
                    <div class="texto2">
                      Puesto
                    </div>
              </div>
            </div>                  