<div class="OFICIO">
  <div class="encab1">
    <div class="C1"></div>
    <div class="C2">Vida/2018</div>
  </div>

  <div class="encab2">
      CONSENTIMIENTO DE SEGURO DE VIDA COLECTIVO
      <br>SOBRE SALDOS DEUDORES
      <br>PLAN DE PRESTACIONES UNIVERSIDAD DE SAN CARLOS DE GUATEMALA
   </div>
   
   
   <div class="texto">
     Nombre del asegurado:______________________________________________________________________________________________
     <br>Fecha de Nacimiento:__________________________________________________________Genero:_______________________________
     <br>Suma Asegurada inicial (Monto del Préstamo otorgado):____________________________________________________________________ 
    </div>

    <div class="divisionlinea">
        _________________________________________________________________________________________________________________
      
      </div>

     <div class="division">
        <br>Beneficiario Único:
        <br>Plan de Prestaciones Universidad de San Carlos de Guatemala
     </div> 

  <div class="divisionlinea">
      _________________________________________________________________________________________________________________
      
  </div>

      <div class="texto3">
          Expresamente otorgo a Aseguradora La Ceiba, S. A. mi consentimiento para ser asegurado en la
          póliza de Seguro Colectivo de Saldos 
          <br>Deudores emitida a favor del plan de Prestaciones de la
          Universidad de San Carlos de Guatemala.
       </div>
  
       <div class="texto3">
             El seguro indemnizará a favor del Contratante de la póliza como beneficiario irrevocable;
             sobre el saldo insoluto que tuviere en el momento de
             <br> mi fallecimiento por concepto de 
             préstamo concedido en esta fecha.
       </div>

       <div class="contenedor">
          <div></div>
          <div class="firma">
              Firma del Asegurado
            </div>
        </div>

       

       <div class="firma">
          Firma y Sello del Contratante
        </div>
 
</div>




    
