<div class="OFICIO">
    <div class="encab1">
    <div class="C1">
        
            <img src="../../assets/usaclogo.png" ALIGN=left  width="50" height="50">

            UNIVERSIDAD DE SAN CARLOS DE GUATEMALA 
           <br>PLAN DE PRESTACIONES
    </div>
        <div class="C2">
                Form.: PP-5-09
        </div>
    </div>




        <div class="Tabla">
                <div class="tituloPrestamo">
                        <div class="bordeBlanco"></div>
                        <div class="bordeBlanco">Prestamo no.</div>
                        <div class="bordePrestamo"></div>    
                    </div>
        </div>

   


    <div class="encab2">
        SOLICITUD DE PRESTAMO INMEDIATO
    </div>

    <div class="Tabla">
        <div class="tituloFecha">
                <div class="bordeFechaG">Guatemala,</div>
                <div class="bordeFechaD">de</div>
                <div class="bordeFechaDe">de</div>
            </div>
    </div>

    <div class="encab3">
        AFILIADO AL PLAN: SI <input type="checkbox"> 
    </div>

    <div class="Tabla">
        <div class="TituloVertical">
            <div class="Col1 bordeVerticalId">identificación Deudor</div>
            <div class="Col2 bordeVertical2Id">
                <div class="Tabla">
                            <div class="tituloT2">
                                
                                <div class="TituloMaster borde">Registro de Personal
                                        <div class="Master">
                                    <div class="anterior bordeMaster">
                                        Anterior
                                      </div>
                                      <div class="actual bordeMaster">
                                        Actual
                                      </div>
                                    </div>  
                                </div>
                                <div class="Deudor borde">DEUDOR</div>
                                
                                
                            </div>
                    
                            <div class="Detalle">
                            <!--Fila1!-->
                                <div class="ID bordeD">Primer nombre</div>
                                <div class="ID bordeD">Segundo nombre</div>
                                <div class="ID bordeD">Primer apellido</div>
                                <div class="ID bordeD">Segundo apellido</div>
                                <div class="ID bordeD">Apellido de casada</div>
                            </div>
                            <div class="Detalle">
                                    <!--Fila2!-->
                                        <div class="ID bordeD">Fecha de nacimiento</div>
                                        <div class="ID bordeD">Edad</div>
                                        <div class="ID bordeD">Estado Civil</div>
                                        <div class="ID bordeD">Nacionalidad</div>
                                        <div class="ID bordeD">Profesión u oficio</div>
                                    </div>
                            <div class="DetallesID">
                                <!--Fila3!-->
                                <div class="ID bordeID">Dirección</div>
                                <div class="ID bordeID2">
                                    Propio <input type="checkbox"> Alquilado <input type="checkbox"> Otro<input type="checkbox">
                                </div>  
                            </div>
                            <div class="Detalles">
                                <!--Fila4!-->
                                <div class="ID bordeD">Otra dirección para ser notificado
                                    en caso de no ser propietario (consignar dirección de pariente cercano, propietario): </div>
                            </div> 
                            <div class="Detalle">
                                    <!--Fila5!-->
                                    <div class="ID bordeD">DPI-CUI</div>
                                    <div class="ID bordeD">Correo eletronico</div>
                                    <div class="ID bordeD">Tel. casa</div>
                                    <div class="ID bordeD">Tel. celular</div>
                                    <div class="ID bordeD">Extensión o Tel. directo de donde labora</div>
                            </div>      
                        </div>

            </div>
        </div>
    </div>

    <div class="Tabla">
        <div class="TituloVertical">
            <div class="Col1 bordeVerticalSL">Situacion Laboral</div>
            <div class="Col2 bordeVertical2SL">
                    <div class="TablaD">
                            <div class="Detalles">
                                <div class="SL borde">DEUDOR</div>
                            </div>
                            <div class="Detalle">
                            <!--Fila1!-->
                                <div class="SL bordeD">Dependencia</div>
                                <div class="SL bordeD">Cargo/puesto</div>
                                <div class="SL bordeD">Fecha de nombramiento</div>
                                <div class="SL bordeD">Vigencia</div>
                                <div class="SL bordeD">Sueldo Q.</div>
                            </div>
                            <div class="Detalle">
                                    <!--Fila2!-->
                                        <div class="SL bordeD"></div>
                                        <div class="SL bordeD"></div>
                                        <div class="SL bordeD"></div>
                                        <div class="SL bordeD"></div>
                                        <div class="SL bordeD"></div>
                            </div>
                            <div class="Detalle">
                                <!--Fila3!-->
                                <div class="SL bordeD"></div>
                                <div class="SL bordeD"></div>
                                <div class="SL bordeD"></div>
                                <div class="SL bordeD"></div>
                                <div class="SL bordeD"></div>
                            </div>     
                            <div class="DetalleT3">
                                <!--Fila4!-->
                                <div class="SL bordeD">Años de servicio</div>
                                <div class="SL bordeD">Total.......</div>
                                <div class="SL bordeD">Q.</div>
                            </div>     
                        </div>
                

            </div>
        </div>
    </div>


    <div class="Tabla">
        <div class="TituloVertical">
            <div class="Col1 bordeVerticalDP">Datos del Prestamo</div>
            <div class="Col2 bordeVertical2DP">
                    <div class="TablaD">
                            <div class="Detalles">
                                <div class="DP borde">En mi calidad de miembro del Pla de Prestaciones, solicito
                                    autorización de un préstamo por la suma de (máximo Q.10,000.00):
                                    <div class="Master2">
                                            <div class="en Q bordeMaster">
                                                En números Q.
                                              </div>
                                              <div class="letra bordeMaster">
                                                en letras
                                              </div>
                                              <div class="quetzales bordeMaster">
                                                    quetzales
                                                  </div>
                                            </div>  
                                </div>
                            </div>
                            <div class="Detalles">
                            <!--Fila1!-->
                                <div class="DP bordeD">Plazo para pagar el préstamo (máximo 24 meses) meses</div>
                            </div>
                            <div class="DetalleDatosP">
                                    <!--Fila2!-->
                                        <div class="DP bordeD">Modificaciones:
                                                <div class="Master3">
                                                        <div class="monto bordeMaster">
                                                            Nuevo Monto Q.
                                                          </div>
                                                          <div class="Plazo bordeMaster">
                                                            Plazo letras
                                                          </div>
                                                        </div>  
                                         </div>
                                        <div class="DP bordeD">Observaciones</div>
                            </div>  
                    </div>
            </div>
        </div>
    </div>


        

        <div class="FinP">
            Aseguro ser de los datos de identificación personal antes consignados, que me encuentro en el pleno
            derecho y ejercicio de mis derechos civiles que, por este medio, de forma libre y voluntaria, 
            firmo la presente solicitud.
        </div>

        <div class="Tabla">
                <div class="tituloFirma">
                    <div class="bordeBlanco"></div>
                        <div class="firma">
                                (F) ____________________________
                                <br>Deudor
                              </div>
                </div>
        </div>        
</div>