<div class="Carta">
  <div class="encab1">
    <strong>SOLICITUD DE CERTIFICACION DE CUOTAS</strong>
  </div>
  <div class="encab2">
    <pre>Guatemala, ___________________________________________                      </pre>
  </div>
  <div class="encab3">

    Señores
    <br>Plan de Prestaciones
    <br>Universidad de San Carlos Guatemala
    <br>Ciudad Universitaria zona 12
    <div> </div>
    <div>Señores:</div>
    <div> </div>
    <div>Atentamente comunico a usted que me retire o me retiraré de trabajar de la UNIVERSIDAD DE SAN
      <br><br>CARLOS DE GUATEMALA, a partir de ___________________________________, por lo que solicito
      <br><br>me sea extendida la CERTIFICACIÓN DE PAGO DE CUOTAS correspondiente.
    </div>
    <div> </div>
    <div>Adjunto: copia de <strong>CERTIFICACIÓN DE RELACIÓN LABORAL</strong>, extendida por la división
      de Admini-
      <br><br> stración de Recursos Humanos y Fotocopia de Documento Personal de Identificación.
    </div>
    <div> </div>
  </div>
  <div class="encab4">
    <div>Firma:______________________________</div>
    <div>Nombre:____________________________</div>
    <div>___________________________________</div>
    <div>Registro de Personal:_________________</div>
    <div>Dependencia:________________________</div>
    <div>Dirección de domicilio:________________</div>
    <div>____________________________________</div>
    <div>Teléfono de domicilio:_________________</div>
    <div>Celular:_____________________________</div>
    <div></div>
  </div>
  <div class="encab5">
    <br><strong>NOTA: ESTA SOLICITUD DEBERA HACER AL PLAN, POR LO MENOS CON 5 DIAS DE</strong>
    <br><strong>ANTICIPACIÓN, PREVIO A ENTREGAR EL EXPEDIENTE</strong>
  </div>
</div>
