<div class="Carta">
  <!---->
  <div class="encab1">
    <img src="https://ecfm.usac.edu.gt/sites/default/files/inline-images/LogoUsacColor.png" alt=" " width="100cm"
      height="100cm">
    <div class="D11">
      <br>PLAN DE PRESTACIONES
      <br> UNIVERSIDAD DE SAN CARLOS DE GUATEMALA
      <br> DEPARTAMENTO DE INFORMÁTICA
    </div>
  </div>
  <div class="encab2">
    <div class="D22">
      <strong> INICIO DE DESCUENTOS MARZO/2020</strong>
    </div>
  </div>
  <div class="encab2">
    <div class="D212">
      <u>Prestamos Inmediatos</u>
    </div>
  </div>
  
  <div class="tit">
    <div class="bordertit1"><strong>CIFRAS EN QUETZALES</strong></div>
  </div>
  <div class="titCo">
    <div class="bordertit1">No.</div>
    <div class="bordertitCo">PARTIDA</div>
    <div class="bordertitCo">PLAZA</div>
    <div class="bordertitCo">REGISTRO</div>
    <div class="bordertitCo">NOMBRE</div>
    <div class="bordertitCo">CUOTA</div>
    <div class="bordertitCo">SEGURO CREDITO</div>
    <div class="bordertitCo">SEGURO SIN IVA</div>
    <div class="bordertitCo">IVA SEGURO</div>
  </div>
  <div class="titCo" *ngFor="let n of numerosT2; let i = index">
    <div class="nof bordertit1">{{i+1}}</div>
    <div class="bordertitCo"></div>
    <div class="bordertitCo"></div>
    <div class="bordertitCo"></div>
    <div class="bordertitCo"></div>
    <div class="bordertitCo"></div>
    <div class="bordertitCo"></div>
    <div class="bordertitCo"></div>
    <div class="bordertitCo"></div>
  </div>
  <div class="encab3"></div>
  
  <div class="piePagBo">
      <pre>______________________________     
        NOMBRE Y FIRMA</pre>
  </div>
    
  </div>
  